<h1>WELCOME COMMENTS</h1>

<a [routerLink]="['comments/comments-list']">Comments-List</a>
<br>
<a [routerLink]="['comments/comments-create']">Comments-Create</a>
<br>
<a [routerLink]="['comments/comments-update']">Comments-Update</a>
<br>
<a [routerLink]="['comments/comments-view']">Comments-View</a>

<h2>WELCOME POST</h2>

<a [routerLink]="['post/post-create']">Post-Create</a>
<br>
<a [routerLink]="['post/post-list']">Post-List</a>
<br>
<a [routerLink]="['post/post-update']">Post-Update</a>
<br>
<a [routerLink]="['post/post-view']">Post-View</a>
