<h2>Post List</h2>

<div>
    <table style="width: 40%;" border="5">
        <tr>
            <th> UserId:</th>
            <th> Id:</th>
            <th> Title:</th>
            <th> Body:</th>
        </tr>
        <tr *ngFor="let item of postList">
            <td>{{ item.userId }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.body }}</td>
        </tr>
    </table>
</div>
