<h2>Comments List</h2>

<div>
    <table style="width: 40%;" border="5">
        <tr>
            <th> PostId:</th>
            <th> Id:</th>
            <th> Name:</th>
            <th> Email:</th>
            <th> Body:</th>
        </tr>
        <tr *ngFor="let item of commentsList">
            <td>{{ item.postId }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.body }}</td>
        </tr>
    </table>
</div>
