<p>comments-create works!</p>
<div class="contenedor">

    <form  class="form" [formGroup]="formsearchComments" (ngSubmit)="searchPostId()">

        <label for="" class="name">Buscador</label>

        <input type="text" formControlName="postId" (blur)="searchPostId()" class="searchinput" placeholder="ingrese su busqueda">
        
        <p class="alert" *ngIf="statusSearchPostId">El numero ingresado o el PostId no se encuentra</p>

        <button class="boton">Buscar</button>
    
    </form>

</div>
<!--<div>
    <form [formGroup]="formSearchComments" (ngSubmit)="searchComments()">
        <label for="">Buscador</label>
        <input type="text" formControlName="postId" (blur)="searchComments()">
        <button type="submit">Buscar</button>
    </form>

    <p *ngIf="commentsList"></p>

    <p *ngIf="statusSearchPostId" class="alert">El numero ingresado no se encuentra</p>
</div>-->

